
  

    <div class="jumbotron text-center">
          <div class="row">
            <%= current_user.name %> welcome to your wiki page!!!!               <% if @user.member? %> <%= link_to "UPGRADE TO PREMIUM!!!", new_charge_path %> <% end %>
            <%= @user.role %>
          </div>
    
          <div class="row">
            <%= link_to "Create New Wiki",  new_wiki_path,  class: "btn btn-success" %>
          </div>
          
    </div>
            <div class="text-center"> Your wikis</div>
            <%= render @user.wikis %>