<h1>what are we going to discuss?</h1>

<%= simple_form_for @wiki do |f| %>
<%= f.input :title %>
<%= f.input :body %>

<% if current_user.premium? || current_user.admin? %>
        <%= f.input :private %>
<% end %>


<%= f.button :submit %>

<% end %>